In [16]:
import pandas as pd
import numpy as np
df = pd.read_csv('title.basics.tsv', delimiter ='\t', encoding='utf-8', low_memory=False)
df1 = pd.read_csv('title.akas.tsv', delimiter ='\t', encoding='utf-8', low_memory=False)
df2 = pd.read_csv('title.crew.tsv', delimiter ='\t', encoding='utf-8', low_memory=False)
df3 = pd.read_csv('title.episode.tsv', delimiter ='\t', encoding='utf-8', low_memory=False)
df4 = pd.read_csv('name.basics.tsv', delimiter ='\t', encoding='utf-8', low_memory=False)
df5 = pd.read_csv('title.principals.tsv', delimiter ='\t', encoding='utf-8', low_memory=False)
df6 = pd.read_csv('title.ratings.tsv', delimiter ='\t', encoding='utf-8', low_memory=False)

## Seggretting basic dataset on the basis of titletype

In [17]:
df.titleType.value_counts()

tvEpisode       3953453
short            671435
movie            514140
video            225403
tvSeries         161535
tvMovie          126081
tvMiniSeries      25283
videoGame         23157
tvSpecial         16843
tvShort            9111
Name: titleType, dtype: int64

## Movie dataframe

In [18]:
dfMovie = df[(df["titleType"] == "short") | (df["titleType"] == "tvShort") | (df["titleType"] == "movie")
            | (df["titleType"] == "tvMovie")]
dfMovie["titleType"] = "movie"

/Users/thesarang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## Series dataset

In [19]:
dfSeries = df[(df["titleType"] == "tvSeries") | (df["titleType"] == "tvMiniSeries")]
dfSeries["titleType"] = "series"

/Users/thesarang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Episode dataset

In [20]:
dfEpisode = df[(df["titleType"]== "tvEpisode")]
dfEpisode['titleType'] = 'episode'

/Users/thesarang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Merge episode, series, movie

In [21]:
dfBasicsNew = pd.concat([dfMovie, dfSeries, dfEpisode], ignore_index=True)
dfBasicsNew.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,movie,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,movie,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,movie,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,movie,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,movie,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [22]:
dfBasicsNew.titleType.value_counts()

episode    3953453
movie      1320767
series      186818
Name: titleType, dtype: int64

## Merge new dataset with akas

In [23]:
titleakaswithbasics = pd.merge(df1, dfBasicsNew, left_on=['titleId'], right_on = ['tconst'])
titleakaswithbasics

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0,tt0000001,movie,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000001,2,Καρμενσίτα,GR,\N,\N,\N,0,tt0000001,movie,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
2,tt0000001,3,Карменсита,RU,\N,\N,\N,0,tt0000001,movie,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
3,tt0000001,4,Carmencita,US,\N,\N,\N,0,tt0000001,movie,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
4,tt0000001,5,Carmencita,\N,\N,original,\N,1,tt0000001,movie,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
5,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1,tt0000002,movie,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
6,tt0000002,2,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0,tt0000002,movie,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
7,tt0000002,3,Le clown et ses chiens,FR,\N,\N,\N,0,tt0000002,movie,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
8,tt0000002,4,Clovnul si cainii sai,RO,\N,imdbDisplay,\N,0,tt0000002,movie,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
9,tt0000002,5,Клоун и его собаки,RU,\N,\N,\N,0,tt0000002,movie,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
10,tt0000002,6,The Clown and His Dogs,US,\N,\N,literal English title,0,tt0000002,movie,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
11,tt0000003,1,Sarmanul Pierrot,RO,\N,imdbDisplay,\N,0,tt0000003,movie,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
12,tt0000003,2,Szegény Pierrot,HU,\N,imdbDisplay,\N,0,tt0000003,movie,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
13,tt0000003,3,Бедный Пьеро,RU,\N,\N,\N,0,tt0000003,movie,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
14,tt0000003,4,Pauvre Pierrot,\N,\N,original,\N,1,tt0000003,movie,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
15,tt0000003,5,Poor Pierrot,\N,\N,\N,\N,0,tt0000003,movie,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
16,tt0000003,6,Pauvre Pierrot,FR,\N,\N,\N,0,tt0000003,movie,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
17,tt0000004,1,Un bon bock,\N,\N,original,\N,1,tt0000004,movie,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
18,tt0000004,2,Un ţap de bere,RO,\N,\N,\N,0,tt0000004,movie,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
19,tt0000004,3,Un bon bock,FR,\N,\N,\N,0,tt0000004,movie,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
20,tt0000004,4,Полная кружка пива,RU,\N,\N,\N,0,tt0000004,movie,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
21,tt0000004,5,A Good Beer,\N,\N,\N,\N,0,tt0000004,movie,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
22,tt0000004,6,Egy jó pohár sör,HU,\N,imdbDisplay,\N,0,tt0000004,movie,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
23,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0,tt0000005,movie,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
24,tt0000005,2,Сцена в кузне,RU,\N,\N,\N,0,tt0000005,movie,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
25,tt0000005,3,Blacksmith Shop,GB,\N,\N,informal alternative title,0,tt0000005,movie,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
26,tt0000005,4,Blacksmith Scene #1,US,\N,alternative,\N,0,tt0000005,movie,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
27,tt0000005,5,Blacksmithing,US,\N,\N,informal alternative title,0,tt0000005,movie,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
28,tt0000005,6,A patkolókovács,HU,\N,imdbDisplay,\N,0,tt0000005,movie,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
29,tt0000005,7,Blacksmith Scene,US,\N,\N,\N,0,tt0000005,movie,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3309806,tt9914254,1,Kirsebæreventyret,\N,\N,original,\N,1,tt9914254,movie,A Cherry Tale,Kirsebæreventyret,0,2019,\N,85,Documentary
3309807,tt9914254,2,A Cherry Tale,XWW,en,imdbDisplay,\N,0,tt9914254,movie,A Cherry Tale,Kirsebæreventyret,0,2019,\N,85,Documentary
3309808,tt9914254,3,Kirsebæreventyret,DK,\N,\N,\N,0,tt9914254,movie,A Cherry Tale,Kirsebæreventyret,0,2019,\N,85,Documentary
3309809,tt9914314,1,Die Macht der Bücher: Französischsprachige Lit...,DE,\N,\N,\N,0,tt9914314,movie,Die Macht der Bücher: Französischsprachige Lit...,Die Macht der Bücher: Französischsprachige Lit...,0,2017,\N,53,Documentary
3309810,tt9914314,2,La force des livres: Écrire en français aujour...,FR,\N,imdbDisplay,\N,0,tt9914314,movie,Die Macht der Bücher: Französischsprachige Lit...,Die Macht der Bücher: Französischsprachige Lit...,0,2017,\N,53,Documentary
3309811,tt9914314,3,Die Macht der Bücher: Französischsprachige Lit...,\N,\N,original,\N,1,tt9914314,movie,Die Macht der Bücher: Französischsprachige Lit...,Die Macht der Bücher: Französischsprachige Lit...,0,2017,\N,53,Documentary
3309812,tt9914708,1,Popp- og rokksaga Íslands,\N,\N,original,\N,1,tt9914708,series,Popp- og rokksaga Íslands,Popp- og rokksaga Íslands,0,2015,2015,116,Documentary
3309813,tt9914708,2,Rock Islandica,XWW,en,alternative,\N,0,tt9914708,series,Popp- og rokksaga Íslands,Popp- og rokksaga Íslands,0,2015,2015,116,Documentary
3309814,tt9914708,3,Popp- og rokksaga Íslands,IS,\N,\N,\N,0,tt9914708,series,Popp- og rokksaga Íslands,Popp- og rokksaga Íslands,0,2015,2015,116,Documentary
3309815,tt9915022,1,Yarali Kuslar,TR,\N,\N,\N,0,tt9915022,series,Yarali Kuslar,Yarali Kuslar,0,2019,\N,\N,Drama
3309816,tt9915022,2,Yarali Kuslar,\N,\N,original,\N,1,tt9915022,series,Yarali Kuslar,Yarali Kuslar,0,2019,\N,\N,Drama
3309817,tt9915022,3,Wounded Birds,XWW,en,alternative,\N,0,tt9915022,series,Yarali Kuslar,Yarali Kuslar,0,2019,\N,\N,Drama
3309818,tt9915436,1,Life in Movement,US,\N,alternative,\N,0,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019,\N,70,Documentary
3309819,tt9915436,2,Vida em Movimento,\N,\N,original,\N,1,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019,\N,70,Documentary
3309820,tt9915520,1,Fascism i en svart bil,\N,\N,original,\N,1,tt9915520,movie,Fascism i en svart bil,Fascism i en svart bil,0,2019,\N,54,Documentary
3309821,tt9915520,2,Fasismia mustassa autossa,FI,\N,alternative,\N,0,tt9915520,movie,Fascism i en svart bil,Fascism i en svart bil,0,2019,\N,54,Documentary
3309822,tt9915520,3,Fascism i en svart bil,FI,\N,\N,\N,0,tt9915520,movie,Fascism i en svart bil,Fascism i en svart bil,0,2019,\N,54,Documentary
3309823,tt9915592,1,A Husband to Rent,XWW,en,imdbDisplay,\N,0,tt9915592,movie,A Husband to Rent,Shohar-e kerayei,0,1974,\N,\N,Comedy
3309824,tt9915592,2,Shohar-e kerayei,\N,\N,original,\N,1,tt9915592,movie,A Husband to Rent,Shohar-e kerayei,0,1974,\N,\N,Comedy
3309825,tt9916170,1,O Ensaio,BR,\N,\N,\N,0,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,\N,\N,Drama
3309826,tt9916170,2,The Rehearsal,XWW,en,imdbDisplay,\N,0,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,\N,\N,Drama
3309827,tt9916170,3,O Ensaio,\N,\N,original,\N,1,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,\N,\N,Drama
3309828,tt9916174,1,Kleiderglück,\N,\N,original,\N,1,tt9916174,movie,Kleiderglück,Kleiderglück,0,2018,\N,14,Short
3309829,tt9916174,2,Strange Love,XWW,en,\N,informal English title,0,tt9916174,movie,Kleiderglück,Kleiderglück,0,2018,\N,14,Short
3309830,tt9916174,3,Kleiderglück,DE,\N,\N,\N,0,tt9916174,movie,Kleiderglück,Kleiderglück,0,2018,\N,14,Short
3309831,tt9916192,1,Danielle Darrieux: Filmstar mit dem frechen Etwas,DE,\N,imdbDisplay,\N,0,tt9916192,movie,Danielle Darrieux: Il est poli d'être gai!,Danielle Darrieux: Il est poli d'être gai!,0,2019,\N,53,Biography
3309832,tt9916192,2,Danielle Darrieux: Il est poli d'être gai!,FR,\N,\N,\N,0,tt9916192,movie,Danielle Darrieux: Il est poli d'être gai!,Danielle Darrieux: Il est poli d'être gai!,0,2019,\N,53,Biography
3309833,tt9916192,3,Danielle Darrieux: Il est poli d'être gai!,\N,\N,original,\N,1,tt9916192,movie,Danielle Darrieux: Il est poli d'être gai!,Danielle Darrieux: Il est poli d'être gai!,0,2019,\N,53,Biography
3309834,tt9916460,1,Ροζ Ταξί,GR,\N,\N,\N,0,tt9916460,movie,Pink Taxi,Pink Taxi,0,2019,\N,\N,Comedy
3309835,tt9916460,2,Pink Taxi,\N,\N,original,\N,1,tt9916460,movie,Pink Taxi,Pink Taxi,0,2019,\N,\N,Comedy

In [24]:
#fetching series, movie and episode values from titleType
akas_series = titleakaswithbasics[titleakaswithbasics["titleType"] == "series"]
akas_movie = titleakaswithbasics[titleakaswithbasics["titleType"] == "movie"]
akas_episode = titleakaswithbasics[titleakaswithbasics["titleType"] == "episode"]

## droping columns of basics

In [25]:
series_alias = akas_series.drop(columns=["tconst", "titleType", "primaryTitle", "originalTitle", "isAdult",
                           "startYear", "endYear", "runtimeMinutes", "genres"], axis = 1)
movie_alias = akas_movie.drop(columns=["tconst", "titleType", "primaryTitle", "originalTitle", "isAdult",
                           "startYear", "endYear", "runtimeMinutes", "genres"], axis = 1)                         
episode_alias = akas_episode.drop(columns=["tconst", "titleType", "primaryTitle", "originalTitle", "isAdult",
                           "startYear", "endYear", "runtimeMinutes", "genres"], axis = 1)

In [26]:
# Remove Attributes, language

In [27]:
movie_alias.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
1,tt0000001,2,Καρμενσίτα,GR,\N,\N,\N,0
2,tt0000001,3,Карменсита,RU,\N,\N,\N,0
3,tt0000001,4,Carmencita,US,\N,\N,\N,0
4,tt0000001,5,Carmencita,\N,\N,original,\N,1

# merging episode dataset with of episodes column of title.basics with ratings

In [28]:
df_episode_new = pd.merge(df3, dfEpisode, left_on=['tconst'], right_on = ['tconst'])
df_episode_new.drop(columns=["genres"], axis = 1, inplace=True)
df_episode_new.head()

,tconst,parentTconst,seasonNumber,episodeNumber,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes
0,tt0041951,tt0041038,1,9,episode,The Tenderfeet,The Tenderfeet,0,1949,\N,30
1,tt0042816,tt0989125,1,17,episode,Othello,Othello,0,1950,\N,135
2,tt0042889,tt0989125,\N,\N,episode,The Tragedy of King Richard II/II,The Tragedy of King Richard II/II,0,1950,\N,145
3,tt0043426,tt0040051,3,42,episode,Coriolanus,Coriolanus,0,1951,\N,60
4,tt0043631,tt0989125,2,16,episode,The Life of King Henry V,The Life of King Henry V,0,1951,\N,133

In [29]:
df_episode_new = pd.merge(df_episode_new, df6, on='tconst', how = "left")
df_episode_new.head()

,tconst,parentTconst,seasonNumber,episodeNumber,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,averageRating,numVotes
0,tt0041951,tt0041038,1,9,episode,The Tenderfeet,The Tenderfeet,0,1949,\N,30,7.4,36.0
1,tt0042816,tt0989125,1,17,episode,Othello,Othello,0,1950,\N,135,NaN,NaN
2,tt0042889,tt0989125,\N,\N,episode,The Tragedy of King Richard II/II,The Tragedy of King Richard II/II,0,1950,\N,145,NaN,NaN
3,tt0043426,tt0040051,3,42,episode,Coriolanus,Coriolanus,0,1951,\N,60,NaN,NaN
4,tt0043631,tt0989125,2,16,episode,The Life of King Henry V,The Life of King Henry V,0,1951,\N,133,NaN,NaN

In [30]:
df6[df6["tconst"] == "tt0041951"]

          tconst  averageRating  numVotes
21872  tt0041951            7.4        36

## segregating movie and series wrt title type

In [31]:
dfBasicsNew_movie = dfBasicsNew[dfBasicsNew["titleType"] == "movie"]
dfBasicsNew_series = dfBasicsNew[dfBasicsNew["titleType"] == "series"]
print(dfBasicsNew_movie.shape, dfBasicsNew_series.shape)

(1320767, 9) (186818, 9)

In [32]:
#for movies
# print (dfBasicsNew_movie["genres"].unique().tolist())
df_movie_genre = dfBasicsNew_movie[["tconst", "genres"]]
df_movie_genre = df_movie_genre[df_movie_genre["genres"] != "\\N"]
df_movie_genre = pd.DataFrame(df_movie_genre.genres.str.split(',')
                                          .tolist(), index=df_movie_genre.tconst).stack()
df_movie_genre = df_movie_genre.reset_index()[['tconst', 0]] 
df_movie_genre.columns = ['tconst', 'genres']
df_movie_genre.head()

      tconst       genres
0  tt0000001  Documentary
1  tt0000001        Short
2  tt0000002    Animation
3  tt0000002        Short
4  tt0000003    Animation

In [33]:
#for series
df_series_genre = dfBasicsNew_series[["tconst", "genres"]]
df_series_genre = df_series_genre[df_series_genre["genres"] != "\\N"]
df_series_genre = pd.DataFrame(df_series_genre.genres.str.split(',')
                                          .tolist(), index=df_series_genre.tconst).stack()
df_series_genre = df_series_genre.reset_index()[['tconst', 0]] 
df_series_genre.columns = ['tconst', 'genres']
df_series_genre.head()

      tconst     genres
0  tt0039120     Family
1  tt0039120  Game-Show
2  tt0039121     Family
3  tt0039122     Comedy
4  tt0039122      Music

## name.basics dataset

In [34]:
df4["primaryProfession"].replace(np.nan, "None", inplace = True)
df42 = pd.DataFrame(df4.primaryProfession.str.split(',')
                                         .tolist(), index=df4.nconst).stack()
df42 = df42.reset_index()[['nconst', 0]] 
df42.rename(columns = {0: 'primaryProfession'}, inplace=True)

In [35]:
df4_notNone = df4[df4["primaryProfession"] != "None"]

In [36]:
df4_final = pd.merge(df4_notNone, df42, left_on=['nconst'], right_on = ['nconst'])
df4_final.drop(columns = ["primaryProfession_x"], axis = True, inplace=True)
df4_final.rename(columns = {"primaryProfession_y": 'primaryProfession'}, inplace=True)

In [37]:
df4_final.head()

,nconst,primaryName,birthYear,deathYear,knownForTitles,primaryProfession
0,nm0000001,Fred Astaire,1899,1987,"tt0043044,tt0053137,tt0050419,tt0072308",soundtrack
1,nm0000001,Fred Astaire,1899,1987,"tt0043044,tt0053137,tt0050419,tt0072308",actor
2,nm0000001,Fred Astaire,1899,1987,"tt0043044,tt0053137,tt0050419,tt0072308",miscellaneous
3,nm0000002,Lauren Bacall,1924,2014,"tt0038355,tt0071877,tt0117057,tt0037382",actress
4,nm0000002,Lauren Bacall,1924,2014,"tt0038355,tt0071877,tt0117057,tt0037382",soundtrack

In [38]:
df4_final_actor_actress = df4_final[(df4_final["primaryProfession"] == "actor") | 
                                    (df4_final["primaryProfession"] == "actress")]
df4_final_director = df4_final[df4_final["primaryProfession"] == "director"]
df4_final_writer = df4_final[df4_final["primaryProfession"] == "writer"]

In [39]:
df4_final_actor_actress["gender"] = "None"

/Users/thesarang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
df4_final_actor_actress.loc[df4_final_actor_actress['primaryProfession'] == 'actor', 'gender'] = 'male'
df4_final_actor_actress.loc[df4_final_actor_actress['primaryProfession'] == 'actress', 'gender'] = 'female'
df4_final_actor_actress

/Users/thesarang/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/thesarang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/thesarang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,nconst,primaryName,birthYear,deathYear,knownForTitles,primaryProfession,gender
1,nm0000001,Fred Astaire,1899,1987,"tt0043044,tt0053137,tt0050419,tt0072308",actor,male
3,nm0000002,Lauren Bacall,1924,2014,"tt0038355,tt0071877,tt0117057,tt0037382",actress,female
5,nm0000003,Brigitte Bardot,1934,\N,"tt0059956,tt0049189,tt0054452,tt0057345",actress,female
8,nm0000004,John Belushi,1949,1982,"tt0077975,tt0078723,tt0080455,tt0072562",actor,male
13,nm0000005,Ingmar Bergman,1918,2007,"tt0083922,tt0050976,tt0069467,tt0050986",actor,male
14,nm0000006,Ingrid Bergman,1915,1982,"tt0036855,tt0038109,tt0038787,tt0071877",actress,female
17,nm0000007,Humphrey Bogart,1899,1957,"tt0037382,tt0034583,tt0033870,tt0043265",actor,male
20,nm0000008,Marlon Brando,1924,2004,"tt0070849,tt0047296,tt0068646,tt0078788",actor,male
23,nm0000009,Richard Burton,1925,1984,"tt0087803,tt0057877,tt0059749,tt0061184",actor,male
26,nm0000010,James Cagney,1899,1986,"tt0035575,tt0055256,tt0029870,tt0031867",actor,male
29,nm0000011,Gary Cooper,1901,1961,"tt0027996,tt0034167,tt0035211,tt0044706",actor,male
32,nm0000012,Bette Davis,1908,1989,"tt0031210,tt0056687,tt0042192,tt0035140",actress,female
36,nm0000013,Doris Day,1922,\N,"tt0048317,tt0053172,tt0060463,tt0055100",actress,female
38,nm0000014,Olivia de Havilland,1916,\N,"tt0041452,tt0029843,tt0031381,tt0040806",actress,female
40,nm0000015,James Dean,1931,1955,"tt0048545,tt0048028,tt0045458,tt0049261",actor,male
46,nm0000017,Marlene Dietrich,1901,1992,"tt0055031,tt0052311,tt0040367,tt0051201",actress,female
48,nm0000018,Kirk Douglas,1916,\N,"tt0052365,tt0049456,tt0080736,tt0054331",actor,male
54,nm0000020,Henry Fonda,1905,1982,"tt0032551,tt0050083,tt0064116,tt0082846",actor,male
57,nm0000021,Joan Fontaine,1917,2013,"tt0039504,tt0034248,tt0036969,tt0032976",actress,female
60,nm0000022,Clark Gable,1901,1960,"tt0052278,tt0031381,tt0026752,tt0025316",actor,male
64,nm0000023,Judy Garland,1922,1969,"tt0037059,tt0032138,tt0055031,tt0047522",actress,female
65,nm0000024,John Gielgud,1904,2000,"tt0071877,tt0045943,tt0082031,tt0117631",actor,male
71,nm0000026,Cary Grant,1904,1986,"tt0056923,tt0036613,tt0048728,tt0053125",actor,male
74,nm0000027,Alec Guinness,1914,2000,"tt0050212,tt0051739,tt0041546,tt0076759",actor,male
77,nm0000028,Rita Hayworth,1918,1987,"tt0040552,tt0036723,tt0038559,tt0040525",actress,female
80,nm0000029,Margaux Hemingway,1954,1996,"tt0077800,tt0074802,tt0110138,tt0102122",actress,female
82,nm0000030,Audrey Hepburn,1929,1993,"tt0046250,tt0056923,tt0054698,tt0058385",actress,female
84,nm0000031,Katharine Hepburn,1907,2003,"tt0082846,tt0032904,tt0043265,tt0063227",actress,female
87,nm0000032,Charlton Heston,1923,2008,"tt0052618,tt0063442,tt0070723,tt0049833",actor,male
90,nm0000033,Alfred Hitchcock,1899,1980,"tt0053125,tt0052357,tt0054215,tt0030341",actor,male
...,...,...,...,...,...,...,...
10320657,nm9993626,Tanya,\N,\N,tt4862524,actress,female
10320658,nm9993628,Anne Hansen,\N,\N,\N,actor,male
10320659,nm9993629,Anna,\N,\N,\N,actress,female
10320660,nm9993631,Amilia,\N,\N,\N,actress,female
10320661,nm9993634,Beverly,\N,\N,\N,actress,female
10320662,nm9993635,Linda Georgeson,\N,\N,\N,actress,female
10320663,nm9993636,Adam French,\N,\N,tt6164916,actor,male
10320664,nm9993637,Jessy,\N,\N,\N,actress,female
10320665,nm9993639,Nyla,\N,\N,\N,actress,female
10320672,nm9993648,Devin Kirby,\N,\N,tt4460424,actor,male
10320674,nm9993650,Marcin Balcerak,\N,\N,tt8739208,actor,male
10320675,nm9993651,Marcin Merda,\N,\N,tt8739208,actor,male
10320676,nm9993652,Kamil Borowiecki,\N,\N,tt8739208,actor,male
10320677,nm9993653,Marek Jastrzebski,\N,\N,"tt8739208,tt8308330",actor,male
10320679,nm9993654,Mariusz Paszkowski,\N,\N,tt8739208,actor,male
10320680,nm9993655,Piotr Kumor,\N,\N,tt8739208,actor,male
10320681,nm9993656,Jerzy Ciurlok,\N,\N,tt8739208,actor,male
10320696,nm9993680,Christopher-Lawson Palmer,\N,\N,tt8295580,actor,male
10320697,nm9993681,Saiya Palmer,\N,\N,tt8295580,actress,female
10320698,nm9993682,Cheryl Clark,\N,\N,tt8744086,actress,female
10320699,nm9993683,Lula Langston,\N,\N,tt8744086,actor,male
10320702,nm9993686,Yukari Funaki,\N,\N,\N,actress,female
10320703,nm9993687,Hiroko Ide,\N,\N,tt7170282,actress,female
10320705,nm9993693,Anketa Maharana,\N,\N,tt8737752,actress,female
10320706,nm9993694,Chinmay Mishra,\N,\N,tt8737752,actor,male
10320709,nm9993697,Zakariya Ganim,\N,\N,\N,actor,male
10320710,nm9993698,Sebi John,\N,\N,tt8736744,actor,male
10320711,nm9993699,Dani Jacob,\N,\N,tt8736744,actor,male
10320712,nm9993700,Sexy Angel,\N,\N,\N,actress,female
10320713,nm9993701,Sanjai Kuriakose,\N,\N,tt8736744,actor,male

## crew dataset

In [ ]:
df2 = pd.read_csv('title.crew.tsv', delimiter ='\t', encoding='utf-8', low_memory=False)
df2.head()

In [ ]:
df2_writers = df2[(df2["writers"] != "\\N")]
print(df2_writers["writers"].unique().tolist())

In [ ]:
df2_writers.head()

In [ ]:
df2_writers = pd.DataFrame(df2_writers["writers"].str.split(',').tolist(), index=df2_writers.tconst).stack()
pd.Series.to_frame(df2_writers).reset_index()
# titlebasicgenre.columns = ['tconst', 'writers'] # renaming var1
# titlebasicgenre

## Principals Dataset

In [ ]:
df5 = pd.read_csv('title.principals.tsv', delimiter ='\t', encoding='utf-8', low_memory=False)

In [ ]:
df_principal_basecnew = pd.merge(dfBasicsNew, df5, left_on=['tconst'], right_on = ['tconst'])

In [ ]:
df_principal_basecnew.titleType.value_counts()

In [ ]:
df_principal_movie = df_principal_basecnew[(df_principal_basecnew['titleType']=='movie')]
df_principal_series = df_principal_basecnew[(df_principal_basecnew['titleType']=='series')]
df_principal_episode = df_principal_basecnew[(df_principal_basecnew['titleType']=='episode')]

## For movies

In [ ]:
dfMovieRelation = df_principal_movie[(df_principal_movie['category']=='actor') | 
                                         (df_principal_movie['category']=='actress') |
                                         (df_principal_movie['category']=='writer') |
                                         (df_principal_movie['category']=='director')]
dfMovieRelation.drop(columns = ['titleType','primaryTitle', 'originalTitle','isAdult','startYear','endYear',
                                     'runtimeMinutes', "job", "genres"], axis = 1, inplace = True)

In [ ]:
# Acted by relation set between actor and movie
dfActorMovieRelation = dfMovieRelation[(dfMovieRelation["category"] == "actor") | 
                                       (dfMovieRelation["category"] == "actress")]
dfActorMovieRelation.head()

In [ ]:
# Directed by relation set between director and movie
dfDirectorMovieRelation = dfMovieRelation[(dfMovieRelation["category"] == "director")]
dfDirectorMovieRelation.head()

In [ ]:
# Directed by relation set between writer and movie
dfWriterMovieRelation = dfMovieRelation[(dfMovieRelation["category"] == "writer")]
dfWriterMovieRelation.head()

## For series

In [ ]:
dfSeriesRelation = df_principal_series[(df_principal_series['category']=='actor') | 
                                         (df_principal_series['category']=='actress') |
                                         (df_principal_series['category']=='writer') |
                                         (df_principal_series['category']=='director')]
dfSeriesRelation.drop(columns = ['titleType','primaryTitle', 'originalTitle','isAdult','startYear','endYear',
                                     'runtimeMinutes', "job", "genres"], axis = 1, inplace = True)

In [ ]:
# Acted by relation set between actor and series
dfActorSeriesRelation = dfSeriesRelation[(dfSeriesRelation["category"] == "actor") | 
                                       (dfSeriesRelation["category"] == "actress")]
dfActorSeriesRelation.head()

In [ ]:
# Acted by relation set between director and series
dfDirectorSeriesRelation = dfSeriesRelation[(dfSeriesRelation["category"] == "director")]
dfDirectorSeriesRelation.head()

In [ ]:
# Acted by relation set between writer and series
dfWriterSeriesRelation = dfSeriesRelation[(dfSeriesRelation["category"] == "writer")]
dfWriterSeriesRelation.head()

## Adding ratings to Movie, series and episodes

In [ ]:
# dfMovieNew = pd.merge(dfMovie, df6, how = "left", left_on=['tconst'], right_on = ['tconst'])
# dfSeriesNew = pd.merge(dfSeries, df6, how = "left", left_on=['tconst'], right_on = ['tconst'])
dfEpisodeNew = pd.merge(dfEpisode, df6, how = "left", left_on=['tconst'], right_on = ['tconst'])

In [ ]:
dfEpisodeNew

In [ ]:
# dfMovieNew
dfSeriesNew

## Dropping columns and converting datasets to csv files - basics + ratings

### Dropping endYear,  titleType, Genre

In [ ]:
dfMovieNewFinal = dfMovieNew.drop(columns=["endYear", "titleType", "genres"], axis = 1)
dfMovieNewFinal.to_csv("Final CSV Files/Movie.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
dfSeriesNewFinal = dfSeriesNew.drop(columns=["endYear", "titleType", "genres", "runtimeMinutes"], axis = 1)
dfSeriesNewFinal.to_csv("Final CSV Files/Series.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
dfEpisodeNewFinal = df_episode_new.drop(columns=["endYear", "titleType","runtimeMinutes"], axis = 1)
dfEpisodeNewFinal.to_csv("Final CSV Files/Episode.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
dfEpisodeNewFinal.head(5)

In [ ]:
df_episode_new.head(5)

In [ ]:
df_episode_new

In [ ]:
dfEpisodeNewFinal.set_index(["tconst"]).index.is_unique

## Dropping columns and converting datasets to csv files - akas

In [ ]:
movie_alias_final = movie_alias.drop(columns=["language", "types", "attributes"], axis = 1)
movie_alias_final.to_csv("Final CSV Files/movie_alias.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
series_alias_final = series_alias.drop(columns=["language", "types", "attributes"], axis = 1)
series_alias_final.to_csv("Final CSV Files/series_alias.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
episode_alias_final = episode_alias.drop(columns=["language", "types", "attributes"], axis = 1)
episode_alias_final.to_csv("Final CSV Files/episode_alias.tsv", encoding="utf-8", sep="\t", index=False)

## Dropping columns and converting datasets to csv files - name basic

### Actor

In [ ]:
df_actor_final_new = df4_final_actor_actress.drop(columns=["primaryProfession"], axis = 1)

In [ ]:
df_actor_knownForTitles = df_actor_final_new[["nconst", "knownForTitles"]]
df_actor_knownForTitles = df_actor_knownForTitles[df_actor_knownForTitles["knownForTitles"] != "\\N"]
df_actor_knownForTitles = pd.DataFrame(df_actor_knownForTitles.knownForTitles.str.split(',')
                                          .tolist(), index=df_actor_knownForTitles.nconst).stack()
df_actor_knownForTitles = df_actor_knownForTitles.reset_index()[['nconst', 0]] 
df_actor_knownForTitles.columns = ['nconst', 'knownForTitles']

In [ ]:
df_actor_knownForTitles.to_csv("Final CSV Files/actorknownfortitles.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
df_actor_final_new.drop(columns = ["knownForTitles"], axis = 1, inplace=True)

In [ ]:
df_actor_final_new.to_csv("Final CSV Files/actor.tsv", encoding="utf-8", sep="\t", index=False)

### Director

In [ ]:
df_director_final_new = df4_final_director.drop(columns=["primaryProfession"], axis = 1)

In [ ]:
df_director_knownForTitles = df_director_final_new[["nconst", "knownForTitles"]]
df_director_knownForTitles = df_director_knownForTitles[df_director_knownForTitles["knownForTitles"] != "\\N"]
df_director_knownForTitles = pd.DataFrame(df_director_knownForTitles.knownForTitles.str.split(',')
                                          .tolist(), index=df_director_knownForTitles.nconst).stack()
df_director_knownForTitles = df_director_knownForTitles.reset_index()[['nconst', 0]] 
df_director_knownForTitles.columns = ['nconst', 'knownForTitles']

In [ ]:
df_director_knownForTitles.to_csv("Final CSV Files/directorknownfortitles.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
df_director_final_new.drop(columns = ["knownForTitles"], axis = 1, inplace=True)

In [ ]:
df_director_final_new.to_csv("Final CSV Files/director.tsv", encoding="utf-8", sep="\t", index=False)

### Writer

In [ ]:
df_writer_final_new = df4_final_writer.drop(columns=["primaryProfession"], axis = 1)

In [ ]:
df_writer_knownForTitles = df_writer_final_new[["nconst", "knownForTitles"]]
df_writer_knownForTitles = df_writer_knownForTitles[df_writer_knownForTitles["knownForTitles"] != "\\N"]
df_writer_knownForTitles = pd.DataFrame(df_writer_knownForTitles.knownForTitles.str.split(',')
                                          .tolist(), index=df_writer_knownForTitles.nconst).stack()
df_writer_knownForTitles = df_writer_knownForTitles.reset_index()[['nconst', 0]] 
df_writer_knownForTitles.columns = ['nconst', 'knownForTitles']

In [ ]:
df_writer_knownForTitles.to_csv("Final CSV Files/writerknownfortitles.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
df_writer_final_new.drop(columns = ["knownForTitles"], axis = 1, inplace=True)

In [ ]:
df_writer_final_new.to_csv("Final CSV Files/writer.tsv", encoding="utf-8", sep="\t", index=False)

### Dropping columns and converting datasets to csv files - name basic

# All relations related to movie

In [ ]:
dfActorMovieRelation.drop(['category'],inplace = True, axis = 1)

In [ ]:
dfActorMovieRelation.to_csv("Final CSV Files/movie_actor_relation.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
dfDirectorMovieRelation.drop(['category','characters'],inplace = True, axis = 1)
# .drop(['category'],inplace = True, axis = 1)

In [ ]:
dfDirectorMovieRelation.to_csv("Final CSV Files/movie_director_relation.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
dfWriterMovieRelation.drop(['category','characters'],inplace = True, axis = 1)

In [ ]:
dfWriterMovieRelation.to_csv("Final CSV Files/movie_writer_relation.tsv", encoding="utf-8", sep="\t", index=False)

# All relations related to series

In [ ]:
dfActorSeriesRelation.drop(['category'],inplace = True, axis = 1)

In [ ]:
dfActorSeriesRelation.to_csv("Final CSV Files/series_actor_relation.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
dfDirectorSeriesRelation.drop(['category','characters'],inplace = True, axis = 1)

In [ ]:
dfDirectorSeriesRelation.to_csv("Final CSV Files/series_director_relation.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
dfWriterSeriesRelation.drop(['category','characters'],inplace = True, axis = 1)

In [ ]:
dfWriterSeriesRelation.to_csv("Final CSV Files/series_writer_relation.tsv", encoding="utf-8", sep="\t", index=False)

## genre

In [ ]:
df_movie_genre
df_series_genre.genres.value_counts()

In [ ]:
df_movie_genre.to_csv("Final CSV Files/movie_genre.tsv", encoding="utf-8", sep="\t", index=False)

In [ ]:
df_series_genre.to_csv("Final CSV Files/series_genre.tsv", encoding="utf-8", sep="\t", index=False)